@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600');

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

h1, h2, h3, h4 {
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;.

}

h2 {
	font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
	font-size: 35px;
	position: relative;
    font-family: 'Josefin Sans', sans-serif;
}

h4 {
	font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

li {
	font-size: 25px;
	margin-top: 15px;
}

ul {
    font-family: 'Josefin Sans', sans-serif;
    list-style-type: none;
	float: left;
    color: white;
}

#slide4 ul {
	list-style: none;
}

#flickrembed {
	padding-top: 70px;
	padding-bottom: 70px;
}

.center {
	margin: 0 auto;
}

.content {
	margin: auto;
	width: 960px;
}

.clear {
	clear: both;
}



/****************************************************** Header ***************************************************************/

#header {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	height: 80px;
	position: fixed;
	margin-top: 0px;
	z-index: 1;
}

#nav {
	float: right;
	margin-top: 20px;
	color: white;
}

#logo a {
	color: #ffffff;
	text-decoration: none;
	float: left;
	font-size: 50px;
	margin-top: 10px;
	font-family:"Zilla Slab", serif;
	margin-left: -100px;
}
#logo a:hover{
   color: #efa9a9;
}

#nav ul {
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;
	margin-right: -160px;
	margin-top: -8px;
}

#nav li {
	margin-top: 9px;
	float: left;
	padding-left: 30px;
}

#nav li a {
	color: #ffffff;
	opacity: 0.8;
	font-size: 20px;
	text-decoration: none;
	font-family: "Zilla Slab", serif;
}

#nav li a:hover {
	color: #efa9a9;
	opacity: 1;
}


/************************************************************ Images *****************************************************************/

.grid {
	float: right;
	margin-top: -20px;
}

.grid img {
	width: 140px;
	height: 140px;
	margin: 2px;
	margin-left: 5px;
}

#bars h1, img {
    display: inline-block;
}

/******************************************************************* Slides ************************************************************/

#slide1, #slide2 {
	width: 100%;
}

#slide1, #slide3, #slide5 {
	color: #fff8f8;
	text-shadow: 2px 2px 1px #434343;
}

#slide2, #slide4, #slide6 {
	color: #262626;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
}

#slide1 {
	background: url('../img/slide1.jpg') 50% 0 no-repeat fixed;
	height: 400px;
	margin: 0;
	padding: 300px 0px 260px 0px;
	background-size: cover;
}

#slide2 {
    color: white;
	background: url('../img/slide2') 50% 0 no-repeat fixed;
	padding: 100px 0px 250px 0px;
}

#slide3 {
	background: url('../img/slide3.jpg') 50% 0 no-repeat fixed;
	height: 600px;
	padding: 250px 0 0 0;
	background-size: cover;
}

#slide4 {
	background: url('../img/slide4') 50% 0 no-repeat fixed;
	height: 370px;
	padding: 100px 0px 250px 0px;
}

#slide5 {
	background: url('../img/slide5.jpg') 50% 0 no-repeat fixed;
	height: 200px;
	margin: 0 auto;
	padding: 250px 0;
	background-size: cover;
}

#slide6 {
	background: url('../img/slide6') 50% 0 no-repeat fixed;
    color: white;
	height: 700px;
	padding: 50px 0;
	padding-bottom: 20px;
}

/********************************************************************* Copyright ********************************************************/

#copyright {
	font-family:"Ubuntu";
	font-size: 14px;
	margin-top: 250px;
	text-align: center;
	text-shadow: none;
	margin-bottom: 10px;
}

#copyright a {
	text-decoration: none;
	color: #cbcbcb;
}

#copyright a:hover {
	color: #efa9a9;
}

#wrapper {
	text-align: center;
}


/*************************************************************************************** Form ***************************************************************/

#gform {
	float: right;
	width: 500px;
	font-family: "Arvo";
	border: none;
	margin-top: -25px;
}

input, textarea {
	width: 100%;
}

fieldset {
	border: none;
}

button {
	margin-left: 10px;
}

#thankyou_message {
	float: right;
	width: 500px;
	font-family: "Arvo";
	margin-top: -25px;
	text-align: center;
	display: none;
}
